.white__label{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 111px;
    position: relative;
    &__bubble1, &__bubble2{
        position: absolute;
        z-index: -1;
    }
    &__bubble1{
        top: -200px;
        left: -700px;
    }
    &__bubble2{
        top: -500px;
        right: -1000px;
    }
}