.aboutus {
    width: 100%;
    margin-top: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .section__content {
        padding-right: 30px;
    }
    &__bubble2 {
        position: absolute;
        z-index: -1;
        top: -250px;
        right: -400px;
    }
}
.section {
    @media (max-width: 1024px) {
        &__title {
            font-size: 40px !important;
        }
        &__text {
            font-size: 17px !important;
        }
    }
}
.section {
    @media (max-width: 660px) {
        &__title {
            font-size: 35px !important;
        }
        &__text {
            font-size: 16px !important;
        }
    }
}

@media (max-width: 425px) {
    .section__title {
        font-size: 30px !important;
    }
}

@media (max-width: 900px) {
    .aboutus {
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
    }
    .software .MuiContainer-root {
        flex-direction: column-reverse;
        text-align: center;
        .section__title {
            margin: 0 auto;
        }
    }
    .white__label {
        flex-direction: column;
        text-align: center;
        .section__img {
            width: 70%;
        }
    }
}
@media (max-width: 660px) {
    .aboutus .section__content {
        padding: 0 25px;
    }
    .white__label .section__content {
        padding: 0 20px;
    }
    .section__subtitle2 {
        font-size: 16px !important;
    }
    .projects{
        margin-top: 40px !important;
    }
}
@media (max-width: 425px) {
    .aboutus .section__content, .white__label .section__content {
        padding: 0 15px;
    }
}
.section__img {
    @media (max-width: 1240px) {
        width: 100%;
    }
    @media (max-width: 660px) {
        width: 100% !important;
    }
}
