.hero {
    background: url("../../assets/img/animation-web.gif") no-repeat;
    background-position: 60% 320px;
    background-size: 1200px;
    height: 100vh;
    max-height: 900px;
    padding-top: 150px;
    &__content{
        z-index: 1;
    }
    &__bubble1, &__bubble2 {
        position: absolute; 
        z-index: -1;
    }
    &__bubble1 {
        display: none;
    }
    &__bubble2 {
        left: 30%;
        top: 50px;
    }
    &__subtitle p{
        font-family: "Open Sans";
    }
    @media (max-width: 1440px) {
        padding-top: 100px;
        background-position: 50% 200px;
        background-size: 1000px;
        &__title{
            font-size: 40px !important;
            line-height: 52px !important;
            max-width: 550px;
        }
        &__bubble1 {
            left: 5%;
            top: -90px;
        }
        &__bubble2 {
            left: 25%;
            top: -50px;
        }
    }
    @media (max-width: 1024px) {
        background-position: 5% 180px;
        background-size: 1200px;
        &__subtitle{
            font-size: 22px !important;
        }
    }
    @media (max-width: 768px) {
        &__subtitle{
            font-size: 20px !important;
            line-height: 22px !important;
        }
        &__title{
            font-size: 36px !important;
            max-width: 500px;
        }
        &__bubble1 {
            left: 0%;
            top: -90px;
        }
    }
    @media (max-width: 576px) {
        &__title{
            font-size: 30px !important;
            line-height: 40px !important;
            max-width: 400px;
        }
        &__bubble2{
            display: none;
        }
        background: url("../../assets/img/animation-mobile.gif") no-repeat;
        background-size: 600px;
        background-position: -20px 250px;
        max-height: 660px
    }
    @media (max-width: 425px) {
        background-position: 5% 400px;
        background-size: 600px;
        &__title{
            font-size: 28px !important;
            margin-bottom: 20px !important;
        }
        &__subtitle{
            font-size: 15px !important;
        }
        &__bubble1 {
            display: block;
            left: 0;
            top: -70px;
            width: 400px;
            height: 300px;
        }
        background-size: 375px;
        background-position: 0px 350px;;
    }
}
