.pricelist {
    .price_card {
        display: flex;
        flex-direction: column;
        max-width: 270px;
        width: 100%;
        border-radius: 30px;
        box-shadow: none;
        padding: 30px 25px 25px;
        height: 600px;
        color: #131515;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
        margin-bottom: 30px;
        transition: all 0.3s;
        &_price {
            p {
                text-align: right;
                font-weight: 700;
                font-size: 18px;
                line-height: 36px;
                font-family: "Open Sans";
                line-height: 18px;
            }
            .price {
                font-size: 38px;
                line-height: 28px;
                font-family: "ChunkFive Ex" !important;
                text-align: center;
            }
            .asterisk {
                font-size: 24px;
            }
        }
        &_content {
            flex-grow: 1;
        }
        &_content * {
            text-align: center;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            font-family: "Open Sans";
            color: #131515;
            &:nth-child(1) {
                margin-top: 20px;
                font-weight: 700;
            }
        }
        flex-grow: 1;
    }
    .splide__slide.is-active .price_card {
        height: 640px;
    }
    .splide__slide:nth-child(odd) .price_card {
        background: linear-gradient(
            163.41deg,
            #ffffff 16.08%,
            #a5f2a3 79.76%,
            rgba(165, 242, 163, 0) 100.98%
        );
    }
    .splide__slide:nth-child(even) .price_card {
        background: linear-gradient(
            166.81deg,
            #3ad3fa -16.24%,
            #82dd93 53.73%,
            rgba(166, 248, 181, 0) 96.53%
        );
        color: #fff;
        .price_card_content * {
            color: #fff;
        }
        .price_card_circle {
            border-color: #fff;
        }
    }
    .splide__slide:nth-child(1n + 3) .price_card {
        background: linear-gradient(
            172.39deg,
            #303a55 9.04%,
            rgba(48, 58, 85, 0) 96.92%
        );
        color: #fff;
        .price_card_content * {
            color: #fff;
        }
    }
    .splide__list {
        display: flex !important;
        align-items: center;
        gap: 22px;
        height: 650px;
        margin-top: 30px !important;
    }
    .splide:not(.is-overflow) .splide__list {
        justify-content: center;
    }
    .price_card_title {
        font-size: 30px;
        line-height: 48px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 12px;
        letter-spacing: 1.5px;
        font-weight: 400;
    }
    .price_card_circle {
        width: 220px;
        height: 220px;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid #5ddfe3;
    }
    .price_card_btn {
        width: 100%;
        height: 56px;
        background-color: #fff !important;
        box-shadow: 0px 11.5px 26.5px rgba(0, 0, 0, 0.25);
        font-family: "ChunkFive Ex" !important;
        font-size: 25px;
        font-weight: 400;
        color: #131515 !important;
        margin-top: 20px;
        letter-spacing: inherit;
        text-transform: capitalize;
    }

    @media (min-width: 901px) {
        .splide__slide:nth-child(even) .price_card {
            height: 640px;
        }
    }
    @media (max-width: 900px) {
        margin-top: 40px;
    }
    @media (max-width: 400px) {
        .splide__list {
            transform: translateX(-260px);
        }
    }
}
