.projects{
    margin: 50px 0 10px;
    .splide__arrow{
        top: calc(50% - 25px);
        background: #88d381;
        opacity: 0.8;
        width: 3em;
        height: 3em;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: .3s;
        &:hover{
            opacity: 1;
        }
    }
    &__box{
        position: relative;
        width: 210px;
        height: 210px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 26px;
        border: 0.8px solid #000;
        margin-bottom: 50px;
    }
    &__btn{
        position: absolute !important;
        bottom: -26px;
        left: 50%;
        transform: translateX(-50%);
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background: #92CF8D !important;
        box-shadow: 0px 11.4656px 26.4592px rgba(0, 0, 0, 0.25);
    }
    .splide__slide{
        // width: max-content !important;
    }
}