@import url('assets/fonts/stylesheet.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ChunkFive Ex";
}
#root {
    overflow-x: hidden;
}
body {
    min-height: 100vh;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
